<template name="footer">
<footer id="footer" class="footer" name="footer" style="bottom:0px;width:100%;" lang="{{getCurrentLanguage}}">
	<div class="container" >
			<div class="row">
				<div class="col-xs-6 col-md-6 col-lg-6 text-left" > 
		
				<ul class="sociallist list-inline">

					<li><a href="http://www.instagram.com/safirstores" class="instagram" target="_blank" title="Instagram">
						<img src="/img/socail_media-01.svg" alt="Instagram page" height="30" width="30" title="Instagram"></a>
					</li>

					<li><a href="https://www.facebook.com/safirperfumery" class="fb" target="_blank" title="Facebook">
						<img src="/img/socail_media-02.svg" alt="Facebook " height="30" width="30" title="Facebook "></a>
					</li>

					<li><a href="https://plus.google.com/u/0/b/109953347025842075900/+Safirperfumeryofficial/posts" rel="publisher" class="google" target="_blank" title="Google+">
						<img src="/img/socail_media-03.svg" alt="Google+" height="30" width="30" title="Google+"></a>
					</li>

					<li><a href="http://www.pinterest.com/safirperfume/" class="pinterest" target="_blank" title="Pinterest">
						<img src="/img/socail_media-04.svg" alt="Pinterest page" height="30" width="30" title="Pinterest"></a>
					</li>

					<li><a href="https://twitter.com/safirperfumery" class="twitter" target="_blank" title="Twitter">
						<img src="/img/socail_media-05.svg" alt="Twitter page" height="30" width="30" title="Twitter"></a>
					</li>

					<li><a href="https://www.youtube.com/channel/UCrlgMSqOZf_EvsHts6GnpPQ" class="youtube" target="_blank" title="Youtube">
						<img src="/img/socail_media-06.svg" alt="Youtube channel" height="30" width="30" title="Youtube"></a>
					</li>

					<li><a href="https://Telegram.me/safirstores" class="telegram" target="_blank" title="Telegram">
						<img src="/img/telegram-logo-rond.png" alt="Telegram page" height="30" width="30" title="Telegram"></a>
					</li>
				</ul>


	<!-- 	<div id="div_nemad" style="cursor:pointer" onclick="">
	        <img id="imgLogo" title="برای مشاهده مجوز كلیك كنید" src="../img/namad1.png" style="border-width:0px;">
	    </div> -->
	
				<div class="enamad pull-left">
					<img id='drftnbpewmcslbrhwmcs' style='cursor:pointer' onclick='window.open("http://trustseal.enamad.ir/Verify.aspx?id=12878&p=nbpdwkynaqgwqgwlaqgw", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='' src='http://trustseal.enamad.ir/logo.aspx?id=12878&p=lznbqesgukaqpeukukaq'/>
				</div>
			</div>
			<div class="col-xs-6 col-md-6 col-lg-6 pull-right">

					<img src="/img/logo_footer-01.png" width="160"/>
					<p>
						کلیه حقوق مادی و معنوی متعلق به فروشگاه عطر سفیر می باشد و هرگونه سوء استفاده، موجب پیگرد قانونی است.
					</p>
					<p>
						<a href='/about' style="text-decoration:underline">About us</a>
					</p>
					<p>
						Contact us<br> 0764-4420360: تلفن <br>0912-8705059: تلفن همراه <br>.آدرس : جزیره کیش ، پاساژ پانیذ ، طبقه اول ، غرفه هفت<br>پست الکترونیک: info@safirperfumery.com
					</p>					
			</div>
	</div>
			
</div>
	</footer>

</template>
