<template name="listproducts">
		<style>
		.zoom {
			display:inline-block;
			position: relative;
		}
		/* magnifying glass icon */
		.zoom img {
			display: block;
		}
		.zoom img::selection { background-color: transparent; }
		#ex2 img:hover { cursor: url(grab.cur), default; }
		#ex2 img:active { cursor: url(grabbed.cur), default; }
	</style>

	<div class="container contain-top">
		{{#if checkBanner category.bannercat}}
	     <div class="img-banner">
	     	
			 <img src="{{getImg category.bannercat}}" id="{{category.bannercat}}" class="img-responsive" width="1027" height="280">
	     
		 </div><br>
		 {{/if}}
	</div>
	<div style="margin-left: -40px !important;">
		{{> myrefine category}}
	</div>
	<div class="container">
		<div class="col-md-12">
			<div class="hold_result">
				<p dir="{{getDirection}}">{{nbproducts}}/{{totalProducts}}{{_ "products result"}}</p>
			</div>{{testQuizz}}
            <div class="hold_bradcame">
                <a id="bestSelling" class="" href="#" style="text-decoration:none;">
                 &nbsp;{{_ "Best selling"}}</a>
                <a id="name" class="reward-sell" href="#" style="text-decoration:none;">
                 &nbsp;&nbsp;&nbsp;{{_ "Sort Name"}} </a>
                <a id="price" class="reward-sell" href="#" style="text-decoration:none;">
                  &nbsp;&nbsp;&nbsp;{{_ "Sort Price"}}
                </a>
            </div>
              
			<div class="all-product">
				<ul class="list-inline">
					{{{oneStyleProduct products showquickview}}}
				</ul>
				<!--{{#each products}}
					<div class="col-xs-6 col-md-3 product_item">
					<div class="thumbnail text-left">
						<div class="caption" style="padding:0px;margin:0px;text-align:center;">
							<div class="btn#e4332a">
								<a href="" style="" class="label label-danger" id="quickbtn" rel="tooltip" data-toggle="modal" data-target="#quickView">{{_"Quickview"}}</a>
							</div>
						</div>
						
						<div class="clearfix" style="width: 100%; margin-bottom:2px; height:150px; text-align:center">
							<a href="/details/{{slug title}}" title="{{title}}">
        					<img src="{{getImgForProduct _id}}" style="width:150px; height:150px;" class="img-responsive" alt="{{title}}">
       						</a>
						</div>

						<div class="clearfix" style="width: 100%;overflow:hidden;text-align: center; height:70px;">
							<a href="/details/{{slug title}}" class="title">{{smaller title 8}}</a>
						</div>
						
						<div class="clearfix text-center" style="width: 100%; height: 30px; overflow: hidden;">
							<a href="/details/{{slug title}}" class="price{{oldId}}" style="padding-bottom:20px;" >
							{{getAttribprice oldId}}
							</a>
							<a href="#" class="unlike unlike{{_id}}" data-id="{{_id}}"><span  class="fa fa-heart-o fonfa"></span></a>
                       		<a href="#" class="like nonelike like{{_id}}" data-id="{{_id}}"><span style="color:red" class="fa fa-heart fonfa"></span></a>

						</div>
						

					</div>
				</div>

				{{/each}}-->
			</div>
			<!-- <div class="all-product">
				<ul class="list-inline">
					{{#each products}}
					<li class="col-md-3 col-sm-6">
						<div class="thumbnail">
							<div class="hold-quickview">
								<a href="/details/{{slug title}}"><img src="{{getImgForProduct _id}}" alt=""></a>
								<div class="quickview">
									<button type="button" class="btn btn-quickview center-block btn-block" id="quickbtn" rel="tooltip" data-toggle="modal" data-target="#quickView">Quick View</button>
								</div>
							</div>
							<div class="caption">
								<p class="title"><a href="/details/{{slug title}}">{{smaller title 8}}</a></p>
								 <div class="rating">
									<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
								</div>
								<p><a href="#" class="price pull-left">{{price}} $</a>
								<a href="#" class="unlike unlike{{_id}} heart pull-right" data-id="{{_id}}"><span  class="fa fa-heart-o fonfa"></span></a>
                       			<a href="#" class="like nonelike like{{_id}} heart pull-right" data-id="{{_id}}"><span style="color:red" class="fa fa-heart fonfa"></span></a>

								</p>
							</div>
						 </div>
					</li>
					{{/each}}
				</ul>
			</div> -->
		</div>
	</div>
	<div class="modal" id="quickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:30px;">
		
		{{#with getSelectedProduct}}
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 150%; margin: 0px 0px 0px -150px !important;">
					  <div class="modal-content">
						<div class="modal-header" style="background:#000; padding:0px;" >
						  <button type="button" class="close" data-dismiss="modal"><img src="/images/pop_cancel.png"></button>
						</div>
						
						<div class="modal-body">
							<div class="row">
								<div class="col-md-5">
									<span class='zoom' id='ex1'>
										<img id="hoverZoom" width="250" height="250" class="img_principle" src="{{getImgForProduct _id}}" alt="{{title}}"/>		
									</span>	
									<script>
										$(document).ready(function(){
											$('#ex1').zoom('{{getFirstImgProduct _id}}');
											$('#ex2').zoom({ on:'grab' });
											$('#ex3').zoom({ on:'click' });			 
											$('#ex4').zoom({ on:'toggle' });
										});
									</script>
								</div>
								<div class="col-md-7">
									<div class="quick-detail">
										<h2 class="title-quick-view">{{title}}</h2>
										<p class="arab-font">{{{description}}}</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<span>Qty</span> &nbsp;
											<select class="select-view" id="qty">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											</select>
										</div>
										<div class="col-md-6">
	                                      <a href="/details/{{slug title}}"><button class="btn-moredetail-view left">{{_"MORE DETAIL"}}</button></a>
										</div>

										<div class="col-md-6">
											  <a href="/details/{{slug title}}" style="font-weight:bold;color:#000;" class="price{{oldId}}">
									            <h3 id="quick_view_price" style="font-weight:bold;color:#000;">{{getAttribprice oldId}}</h3>
									          </a>
										</div>
										<div class="col-md-6">
	                                       <button class="btn-add-tocard left" id="addtocart">{{_ "ADD TO CARD"}}</button>
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-12">
							   <hr style="border:1px solid #000;">
							</div>
						</div>

						<div class="modal-footer center-block" style="border:none">
							<div class="col-md-12">
                               <h4 class="pull-left">Related products</h4>
							</div>
							
							<div class="row">
								{{>recommendation}}			
							</div>
						</div>
					  </div>	
					</div>
					</div>
					{{/with}}
				
					<script>
					$('.modal-backdrop').remove();
					</script>
				</div>

				<script>
					$(document).ready(function(){
						$('#quickView').on('hidden.bs.modal', function() {
					        $('body').removeClass('modal-open');
					    });
					})
				</script>
</template>