<template name="about">
	<style>
	p {
		margin-bottom:10px;
	}
	.space-in-title {
		margin-left: 5em;
	}

	</style>
	<div class="container">
		<div class="text-right">
			<h2 class=h2>About us<span class="space-in-title"> درباره فروشگاه های عطر و لوازم آرایش سفیر </span></h2>

			<p>
			به فروشگاه های عطر و لوازم آرایش سفیر خوش آمدید
			</p>

			<p>
			ارمغان ما در فروشگاه های عطر و لوازم آرایش سفیر برای شما ارائه رایحه های اصیل و ماندگار از عطر ها  و برندهای معتبر جهانیست. ما دغدغه های شما را هم در انتخاب عطر و هم در خصوص اصالت عطر میدانیم و شما در کنار ما مطمئن خواهید شد که اصالت در دستان شما خواهد بود
			</p>

			<p>
			مجموعه فروشگاه های عطر و لوازم آرایش سفیر  در اواخر سال هزار و سیصد و هشتاد و نه  با رویکرد سلف سرویس و مشاوره حرفه ای فروش با درک مشتری عطر و لوازم آرایشی، دغدغه ها و نیاز های او آغاز به کار کرد. درفروشگاه های عطر و لوازم آرایش سفیر  چیدمان همه شعبه ساده ولی متفاوت است  . دیده شدن برندها به وضوح ، قدرت و القای حس اینکه برندها قهرمانان فروشگاههای عطر و لوازم آرایش سفیر  هستند ، برقراری ارتباط مساوی میان برندها برای جلو گیری از سردرگمی مشتری ،ایجاد فضاهای بزرگ تبلیغاتی ، ویترین های خاص و ممتاز ، سرویس ویژه به مشتریان از اهداف بارز مجموعه فروشگاه های عطر و لوازم آرایش سفیر  می باشد . در فروشگاه های عطر و لوازم آرایش سفیر  شما محدودیت آزمودن ندارید ! گو اینکه بهترین مشاوران ما برای زیبنده ترین انتخاب برای شما به خواست شما در کنارتان خواهند بود.
			</p>

			<p>
			آنچه برای مجموعه فروشگاه های عطر و لوازم آرایش سفیر  اهمیت دارد ایجاد نگاهی متفاوت به عطر و لوازم آرایشی با رویکرد ارئه اطلاعات کامل و دقیق با بیان ساده به مشتریان خود است چرا که بر این باوریم هر چه شما آگاه تر و اطلاعات شما کامل تر شود به ما نزدیک تر میشوید چرا که فروشگاه های عطر و لوازم آرایش سفیر  کلکسیونی از لوکس ترین ، بهترین و اصیل ترین برندهاست . همواره  منتظر میزبانی از شما در فروشگاه های عطر و لوازم آرایش سفیر  هستیم
			</p>
		</div>
	</div>

</template>